# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Vector Library/.vs/Vector Library/v14/.suo
*.sln
*.db
*.opendb
*.vcxproj
*.filters
*.pdb
*.idb
*.tlog
*.log
Vector_Testing/.vs/Vector_Testing/v14/.suo
Vector_Testing/.vs/Vector_Testing/v14/.suo
Vector_Testing/.vs/Vector_Testing/v14/.suo
Vector_Testing/Debug/Vector_Testing.ilk
